* {
  box-sizing: border-box;
}

.title-region {
  text-align: right;
  border : 1px solid black;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  float: right;
}

p {
  background-color: yellow;
  margin: 5px;
  clear: right;
}

@media (min-width:992px){
  section {
  width: 33%;
  display: inline-block;
  border : 1px solid black;
  padding : 3px;
  margin: 2px;
  }
}

@media (min-width:768px) and (max-width:991px){
    section {
  width: 50%;
  display: inline-block;
  border : 1px solid black;
  padding : 3px;
  margin: 2px;
}
}

@media (max-width:767px){
  section {
  width: 100%;
  display: inline-block;
  border : 1px solid black;
  padding : 3px;
}
}

