* {
  box-sizing: border-box;
}

.title-region {
  text-align: right;
  border : solid black;
  border-width: 0px 0px 1px 1px;
  padding: 0px 1em 0px 1em;
  margin: 0px 0px 0px 0px;
  float: right;
  background-color: DarkSeaGreen;
}

p {
  background-color: LightGray;
  margin: 3px;
  clear: right;
}

@media (min-width:992px){
  section {
  width: 31%;
  display: inline-block;
  border : 1px solid black;
  padding : 0px;
  margin: 3px;
  }
}

@media (min-width:768px) and (max-width:991px){
 
section.share {
  width: 48%;
  display: inline-block;
  border : 1px solid black;
  padding : 0px;
  margin: 3px;
}
  
section.alone {
  width: 100%;
  display: inline-block;
  border : 1px solid black;
  padding : 0px;
  margin: 3px;
  }
}

@media (max-width:767px){
  section.share,section.alone  {
  width: 100%;
  display: inline-block;
  border : 1px solid black;
  padding : 0px;
  margin: 3px;
}
}

